@font-face {
    font-family: digital-7;
    src: url(../fonts/digital-7-4.ttf);
    font-weight: 400;
    font-style: normal
}

.chartNum {
    margin: 30px 0;
    display: flex;
    justify-content: center
}

.box-items {
    width: auto;
    font-family: Digital-7;
    position: relative;
    height: 70px;
    text-align: center;
    list-style: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

.mark-item span {
    position: absolute;
    width: 100%;
    bottom: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright
}

.number-item {
    text-align: center;
    width: 100px;
    height: 190px;
    line-height: 70px;
    float: left;
    background: #10213b;
    box-shadow: 0 0 16px 0 #3f6bcb;
    list-style: none;
    font-family: Digital-7;
    font-size: 180px;
    color: #788088;
    margin-right: 17px;
    display: flex;
    justify-content: center
}

.number-item span {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    width: 100%;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    overflow: hidden
}

.number-item span i {
    font-style: normal;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 1s ease-in-out;
    letter-spacing: 10px
}

.number-item:last-child {
    margin-right: 0
}